.imagenes {
    width: 8cm;
    height: 6.5cm;
}


body {
    text-align: center;
    background-color: black;
    color: darkgray;
}

ul {
    list-style: none;
}

a:hover {
    color: crimson
}

a:active {
    color: darkolivegreen;
}

a:link {
    color: darkslateblue;
}

a.links {
    text-align: right;
}