.imagenes {
    width: 8cm;
    height: 6.5cm;
}

.cabezeros {
    text-decoration: underline
}

.cabezero1 {
    text-align: right;
    font-family:'Franklin Gothic Medium';
}

body {
    text-align: center;
    background-color: black;
    color: darkgray;
}

ul {
    list-style: none;
}

a:hover {
    color: crimson
}

a:active {
    color: darkolivegreen;
}

a:link {
    color: darkslateblue;
}

.cabezeros {
    text-decoration: underline
}